<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.lite.face.framwork"
    xmlns:android="http://schemas.android.com/apk/res/android">

    著作权归作者所有。
    商业转载请联系作者获得授权，非商业转载请注明出处。
    作者：董幸荣
    链接：http://www.zhihu.com/question/22289719/answer/23990073
    来源：知乎

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:name=".ui.base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.ResearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.abort.RxAndroidActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.abort.MainActivityRf"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.abort.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.InquiryDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.InquiryDatasActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.test.RestActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
